@media(max-width:320px){
    .nav{
        flex-direction: column;
    }
    .fondo-index{
        height: 450px;
        width: 280px;
        
    }
    .container-grid{
        grid-template-areas: none;
    }
    .carousel-inner img{
        width: 500px;
        height: 500px;
    }
    
}